.list-group-modules .list-group-item {
    background-color: #F5F5F5;
    height: 50px;
}

.list-group-modules .list-group-item.active {
    background-color: #F81B84;
    border-color: #F81B84;

}

.list-group-modules .list-group-item.hover {
    background-color: green;
    border-color: #414141;
}

.module-text {
    color: white;
}

.module-link {
    color: gray;
    vertical-align: center;
}

.module-link.active {
    color: white;
}

.module-btn {
    vertical-align: center;
}

.delete-module {
    background-color: #F5F5F5;
}

.delete-module.active {
    background-color: #F81B84;
    color: white;
}

.icon-delete {
    color: black;
}

.icon-delete.active {
    color: white;
 }






