i {
    margin-right: 5px;
}

.heading1 {
    padding-top: 15px;
}

.btn-group {
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 2px;
}

tr#spacingUnder {
    border-collapse:separate;
    border-spacing:0 50px;
}

.navbar {
    margin-left: -15px;
    margin-right: -15px;
}

.pEdit {
    font-style: italic;
}

.btn-delete-lesson {
    padding-left: 10px;
}

.side-nav {
    background-color: aliceblue;
}